body {
    background-color: #519fe2;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    text-align: center;
}

.number {
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    margin: 10px 0;
}

button {
    border: none;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #b4cc39;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px
}

button:hover{
    background-color: #9db52d;
}